@model DM_cinema.Database.Film
@{ ViewData["Title"] = "Films"; }


<div class="filmbox">
    <div class="filmcontainer">
        <div class="header">
            <h2>@Model.Naam</h2>
            <img class="filmplaatje" src="@Model.Img" />
        </div>
        <div class="filminfo">
            <p> <u>Date:</u> @Model.Datum</p>
            <p> <u>Time:</u> @Model.Duur  </p>
            <p> <u>Age:</u> @Model.Leeftijd</p>
            <p> <u>Genre:</u> @Model.Genre</p>
            <p class="beschrijving">@Model.Beschrijving</p>
            <div class="kaartjes">
                <a href="#">Buy tickets</a>
            </div>
        </div>
    </div>
</div>
