@using DM_cinema.Database
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<div class="intro">
    <div class="introtext">
        <h1>
            Welcome to DM - Cinema
        </h1>

        <p>
            Welcome to the best Cinema in the World <br />
            At DM - Cinema, we provide the best experience for watching movies
        </p>
    </div>
</div>

<div class="films">
    <h1>
        Upcoming movies
    </h1>
    @foreach (Film f in Model)
    {
<div class="upcomingfilms">
    <div class="header">
        <h2>@f.Naam</h2>
        <img class="filmplaatje" src="@f.Img" />
    </div>
    <div class="filminfo">
        <p> <u>Date:</u>  @f.Datum</p>
        <p> <u>Time:</u>  @f.Duur  </p>
        <p> <u>Genre:</u>  @f.Genre</p>
        <p class="beschrijving">@f.Beschrijvingkort() ...</p>
        <a class="meerbeschrijving" href="films/@f.Id">Read more...</a>
    </div>
</div>
                <br />}
</div>
