@using DM_cinema.Database
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script>
        function setCookie(cname,cvalue,exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60));
          var expires = "expires=" + d.toGMTString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return "";
        }

        function checkCookie() {
          var user=getCookie("username");
          if (user != "") {
            alert("Welcome again " + user);
          } else {
             user = prompt("Please enter your name:","");
             if (user != "" && user != null) {
               setCookie("username", user, 30);
             }
          }
        }
    </script>
</head>

<body onload="checkCookie()">
    <div class="intro">
        <div class="introtext">
            <h1>
                Welcome to DM - Cinema
            </h1>

            <p>
                Welcome to the best Cinema in the World <br />
                At DM - Cinema, we provide the best experience for watching movies
            </p>
        </div>
    </div>

    <div class="films">
        <h1>
            Upcoming movies
        </h1>
        @foreach (Film f in Model)
        {
<div class="upcomingfilms">
    <div class="header">
        <h2>@f.Naam</h2>
        <img class="filmplaatje" src="@f.Img" />
    </div>
    <div class="filminfo">
        <p> <u>Date:</u>  @f.Datum</p>
        <p> <u>Time:</u>  @f.Duur  </p>
        <p> <u>Genre:</u>  @f.Genre</p>
        <p class="beschrijving">@f.Beschrijvingkort() ...</p>
        <a class="meerbeschrijving" href="films/@f.Id">Read more...</a>
    </div>
</div>
                <br />}
    </div>
</body>