@using DM_cinema.Database
@model List<Film>
@{ 
    ViewData["Title"] = "Movies"; 
}

<div class="films">
    @foreach (Film f in Model)
    {
<div class="upcomingfilms">
    <div class="header">
        <h2>@f.Naam</h2>
        <img class="filmplaatje" src="@f.Img" />
    </div>
    <div class="filminfo">
        <p> <u>Date:</u> @f.Datum</p>
        <p> <u>Time:</u> @f.Duur  </p>
        <p> <u>Age:</u> @f.Leeftijd</p>
        <p> <u>Genre:</u> @f.Genre</p>
        <p class="beschrijving">@f.Beschrijving</p>
    </div>
</div>
                <br />}
</div>